
<h4>Search for a message</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ShowSearchResult">
            <div class="form-group">
                <label for="SearchComment" class="control-label"></label>
                <input name="SearchComment" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Search" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>