@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Comment App</h1>
    <br />
    <p>You can add your own comment by previous logging</p>
    <p>Also you can search for needed comment using button search</p>
</div>